@using ClientServer.Shared.DataTransferObjects
@using BlazorBootstrap;

<h3>@Workstation.Uuid</h3>

<Card Style="width:28rem;">
	<CardBody>
		<CardTitle>@Workstation.Uuid</CardTitle>
	</CardBody>
	<Card Style="width:28rem;">
		<CardHeader>
			Processador
		</CardHeader>
		<ul class="list-group list-group-flush">
			<li class="list-group-item">Descrição: @Workstation.CpuDescription</li>
			<li class="list-group-item">Nome: @Workstation.CpuName</li>
			<li class="list-group-item">Fabricante: @Workstation.CpuManufacturer</li>
			<li class="list-group-item">Arquitetura: @Workstation.CpuArchitecture</li>
		</ul>
	</Card>
</Card>

<div class="section">
	<h2>UUID</h2>
	<p class="highlight">@Workstation.Uuid</p>
</div>

<div class="section">
	<h2>Processador</h2>
	<p class="info"><strong>Descrição:</strong> @Workstation.CpuDescription</p>
	<p class="info"><strong>Nome:</strong> @Workstation.CpuName</p>
	<p class="info"><strong>Fabricante:</strong> @Workstation.CpuManufacturer</p>
	<p class="info"><strong>Arquitetura:</strong> @Workstation.CpuArchitecture</p>
</div>

<div class="section">
	<h2>Memória RAM</h2>
	<p class="info"><strong>Quantidade Total:</strong> @Workstation.TotalMemory</p>
	<p class="info"><strong>Velocidade:</strong> @Workstation.MemorySpeed</p>
	<p class="info"><strong>Fabricante:</strong> @Workstation.MemoryManufacturer</p>
</div>

<div class="section">
	<h2>Sistema Operacional</h2>
	<p class="info"><strong>Descrição:</strong> @Workstation.OSDescription</p>
	<p class="info"><strong>Fabricante:</strong> @Workstation.OsManufacturer</p>
	<p class="info"><strong>Número Serial:</strong> @Workstation.OsSerial</p>
</div>

<div class="section">
	<h2>Discos</h2>
	@foreach (var disk in Workstation.Disks)
	{
		<div class="list-item">
			<p><strong>Tamanho Total:</strong> @disk.TotalSize</p>
			<p><strong>Tipo:</strong> @disk.DiskType</p>
			<p><strong>Nome:</strong> @disk.DiskName</p>
		</div>
	}
</div>

@code {
	[Parameter]
	public WorkstationItem Workstation { get; set; }
}
